advanced-chatbot/n8n-workflows/Chatbot_Data_Ingestion.json
{
  "name": "Chatbot Data Ingestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -65
      ],
      "id": "9df5b807-7e82-4e07-bbd1-47bb84624698",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad2a639d-6a06-4577-a2fa-e2b22e2e9807",
              "name": "repo_owner",
              "value": "LinkedInLearning",
              "type": "string"
            },
            {
              "id": "9d15afe1-3c1d-4514-8c33-4507b2605469",
              "name": "repo_name",
              "value": "create-custom-chatbots-with-n8n-and-vector-search-4078220",
              "type": "string"
            },
            {
              "id": "dce526d1-45b5-4d71-b7ac-e4ba8b1df08b",
              "name": "doc_path",
              "value": "advanced-chatbot/documents",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        -65
      ],
      "id": "51ed1a64-967f-4d7e-8258-382ea798a3a7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.doc_path }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        440,
        -65
      ],
      "id": "e21addc5-a84b-450e-831d-6ea623b29bb1",
      "name": "GitHub",
      "webhookId": "e888018f-0ee0-40eb-9e19-b7d0a54c2243",
      "credentials": {
        "githubOAuth2Api": {
          "id": "rqkMAdMVwbOGDQB4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        660,
        -65
      ],
      "id": "c7aaf01d-8b62-4a8b-9e0a-c5451d3a5632",
      "name": "GitHub1",
      "webhookId": "d6fa32aa-c57d-4ba5-8155-3721d945ddbc",
      "credentials": {
        "githubOAuth2Api": {
          "id": "rqkMAdMVwbOGDQB4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr",
          "mode": "list",
          "cachedResultName": "hr"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        1336,
        -65
      ],
      "id": "5abd5a7e-8672-4bf8-8491-afae5af5f928",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "7edc98nTVv6CBWwt",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1320,
        155
      ],
      "id": "26c5fed2-ad13-4086-aafb-ea2641a7dba6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Vn4FWaoSarxG5VSP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "loader": "pdfLoader",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "Document ID",
                "value": "={{ $json.name }}"
              },
              {
                "name": "Document URL",
                "value": "={{ $json.html_url }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1440,
        157.5
      ],
      "id": "5522e6b4-98bf-45d7-b3be-4978c0a8faf0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1528,
        355
      ],
      "id": "6b6bd66d-5245-4df2-a738-7b31266996cd",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hr-h12ierq.svc.aped-4627-b74a.pinecone.io/vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "deleteAll",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -140
      ],
      "id": "e2a7a6bd-cc44-47e4-ae46-eedca74833fb",
      "name": "HTTP Request",
      "credentials": {
        "pineconeApi": {
          "id": "7edc98nTVv6CBWwt",
          "name": "PineconeApi account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1100,
        -65
      ],
      "id": "011de111-6c03-4310-a63f-f375227315ee",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f5ac1ed5-333e-48e4-bc1d-379ff49348ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94e1edcc34a91a151fc2ec1b99597068a304e37fdb946fc806f00f97776fce3a"
  },
  "id": "QX1ly2tCaPVj4L8k",
  "tags": []
}