advanced-chatbot/n8n-workflows/Chatbot_Data_Retrieval.json
{
  "name": "Chatbot Data Retrieval",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "4fb74c5d-fcf1-478e-b938-672059e64a0e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr",
          "mode": "list",
          "cachedResultName": "hr"
        },
        "prompt": "={{ $json.query }}",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "cdb06d65-7fd1-4c76-931e-5a40b72f2cde",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "7edc98nTVv6CBWwt",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        220
      ],
      "id": "735f10b7-bfa8-4e06-9fcf-d60ff8dc6740",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Vn4FWaoSarxG5VSP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f4b9b74-24bc-4772-9912-ce3dd51da448",
              "name": "Content",
              "value": "={{ $json.document.pageContent }}",
              "type": "string"
            },
            {
              "id": "59468954-f532-48c2-9670-923ecdea2f1e",
              "name": "Filename",
              "value": "={{ $json.document.metadata['Document ID'] }}",
              "type": "string"
            },
            {
              "id": "df0f3ffd-0117-4e79-b9fa-63422b9e552b",
              "name": "URL",
              "value": "={{ $json.document.metadata['Document URL'] }}",
              "type": "string"
            },
            {
              "id": "eeb761ac-a699-4bae-b803-8287571d664e",
              "name": "Page",
              "value": "={{ $json.document.metadata['loc.pageNumber'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        0
      ],
      "id": "6dfd64a3-5068-421a-8a5c-13d832ff8179",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "fce2a7e4-ce64-4196-9da2-2869cba9589f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f30db46c-4b29-4dcf-b625-aae312da1db1",
              "name": "response",
              "value": "={{ $json.toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        0
      ],
      "id": "9160ae9e-ba84-43b1-b0fc-7046955107a4",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "sick days"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eded4ae3-e12e-4479-8d06-73d01324cf51",
  "meta": {
    "instanceId": "94e1edcc34a91a151fc2ec1b99597068a304e37fdb946fc806f00f97776fce3a"
  },
  "id": "Cf1MQk4Je9MKyv7c",
  "tags": []
}